In [1]:
import numpy as np

In [2]:
print("Hello World!")

Hello World!

In [3]:
print("Nama saya Ihsan")

Nama saya Ihsan

In [4]:
print("Nim saya 2021071005")

Nim saya 2021071005

In [6]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [7]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [8]:
x = 4
x = "Sally"
print(x)

Sally

In [9]:
def getFirst(myList):
  return myList[0]

getFirst([1,2,3])

1

In [53]:
getSecond([11,12,13,14,15,16,17,18,19,20])

12

In [11]:
def getLast(myList):
  return myList[-1]
  
getLast([1,2,3])

3

In [54]:
getLast([11,12,13,14,15,16,17,18,19,20])

20

In [32]:
def getSum(myList):
    sum = 0
    for item in myList:
        sum = sum+item
    return sum

In [33]:
getSum([1,2,3,4])

10

In [51]:
def getKali(myList):
    kali = 1
    for item in myList:
        kali = kali*item
    return kali

getKali([8,9,10,11])

7920

In [44]:
def getBagi(myList):
    bagi = 108
    for item in myList:
        bagi = bagi/item
    return bagi

getBagi([2,3,4,5])

0.9

In [40]:
def getSum(myList):
  sum = 0
  for row in myList:
    for item in row:
      sum += item
  return sum

In [42]:
getSum([[2,4,5],[6,7,8]])

32

In [47]:
def getBagi(myList):
  bagi = 54
  for row in myList:
    for item in row:
      bagi /= item
  return bagi

getBagi([[2],[9]])

3.0

In [48]:
def getKurang(myList):
  kurang = 100
  for row in myList:
    for item in row:
      kurang -= item
  return kurang
getKurang([[25,5],[10,9]])

51